/* CSS Reset */

/* Box sizing border-box for all elements */
*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   font-size: 16px;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
   padding: 0;
}

/* Remove list styles (bullets/numbers) */
ul,
ol,
menu,
* li {
   list-style: none;
   padding: 0;
}

/* Remove default hyperlink styles */
a {
   text-decoration: none;
   color: inherit;
   font-weight: inherit;
}

/* Remove default outline styles */
button,
input,
textarea,
select {
   outline: none;
   border: none;
   font-family: inherit;
   font-weight: inherit;
}

/* Make the default button behave like a link */
button {
   cursor: pointer;
   color: inherit;
   font-size: 1rem;
   font-weight: inherit;
   padding: 0;
   background-color: transparent;
}

/* Set base font size and line height */
/* Set default font family and font weight */
/* Set default background and text color and text alignment */
body {
   background: rgb(150,190,238);
   background: radial-gradient(
      circle,
    rgba(150,190,238,1) 0%,
    rgba(255,255,255,1) 100%
   );
   font-size: 1rem;
   line-height: 1.5;
   font-family: 'Poppins', system-ui, sans-serif;
   font-weight: normal;
   color: #2e2e2e;
}

.container {
   width: 50rem;
   margin-inline: auto;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.banner {
   display: flex;
   align-items:baseline;
   justify-content: space-between;

   nav {

      a {
         padding-inline: 0.5rem;
         font-size: 1.375rem;
         font-weight: 600;
         letter-spacing: 0.075rem;
      }
   }

}

.video-container {
   position: relative;
   
   video {
      width: 100%;
      aspect-ratio: 16 / 9;
      background-color: white;
      border-radius: 0.5rem;
   }
}
