---
import SiteLayout from "@layouts/SiteLayout.astro";
---
<SiteLayout title="Home">
   <div>
      <main>
         <h2>Home Page</h2>
         <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, quisquam labore impedit optio pariatur expedita, accusantium eum magni rerum eaque id delectus sunt tempora non perspiciatis doloribus officiis cum alias.</span>
      </main>
   </div>
</SiteLayout>

