---
import SiteLayout from "@layouts/SiteLayout.astro";
import SmartCam from "@components/SmartCam.astro";
---
<SiteLayout title="Smart Camera">
   <div>
      <main>
         <h2>Smart Camera</h2>
         <SmartCam />
      </main>
   </div>
</SiteLayout>