---
---

<nav class="links">
   <a href="./smart-camera.html">Smart Cam</a>
</nav>

<style lang="scss">
   nav {

      a {
         padding-inline: 0.5rem;
         font-size: 1.375rem;
         font-weight: 400;
         letter-spacing: 0.025rem;
      }
   }
</style>